<h1>Weather Forecasts</h1>
  
<%= form_with url: weather_forecasts_path, method: :get, local: true do |form| %>
  <%= form.label :cities, "Cities:" %>
  <%= form.text_field :cities, required: true %>
  <%= form.submit "Submit" %>
<% end %>
